<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Contentful Demo App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <style>
            .ib {
                border: solid red 1px;
                display: inline-block;
            }
            div {
                vertical-align: top;
                padding: 0.1em;
            }
            .w30 {
                width: 28%;
                background: salmon;
                float: right;
            }
            .w70 {
                width: 68%;
                background: lightslategray;
                float: left;
            }
            h1 {
                color: darkblue;
            }
            h2 {
                color: darkgreen;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <cms-page :page="page" v-bind:key="page.sys.id"></cms-page>
        </div>





        <!-- CmsPage Template Begin -->
        <script id="tpl_page">
            <div>
                <h1>{{ page.fields.userFacingTitle }}</h1>  
                <cms-section v-for="(section, sectionIndex) in sections" :section="section" v-bind:key="section.sys.id"></cms-section>
            </div>
        </script>
        <!-- CmsPage Template End-->


        <!-- Section Template Begin -->
        <script id="tpl_section">
            <div class="container-fluid">
                <hr/>
                <div :class="{row:section.fields.displayStyle=='Card View'}">
                    <div v-for="(article, contentIndex) in section.fields.contentItems">
                        <div v-if="section.fields.displayStyle=='Stacked Articles'" id="article_container">
                            <cms-article-stacked :index="contentIndex" :article="article" :key="article.sys.id"></cms-article-stacked>
                        </div>
                        <div v-if="section.fields.displayStyle=='Card View'" :displayStyle="section.fields.displayStyle" id="article_container">
                            <cms-article-cards :activeTab="activeTab" :index="contentIndex" :article="article" :key="article.sys.id" :elt="'#cv_title_'+section.sys.id" :el="'#cv_'+section.sys.id"></cms-article-cards>
                        </div>
                        <div v-if="section.fields.displayStyle=='Accordion'" class="accordion" id="article_container">
                            <cms-article-accordion :activeTab="activeTab" :index="contentIndex" :article="article" :key="article.sys.id"></cms-article-accordion>
                        </div>
                    </div>
                    <div v-if="section.fields.asides != null && section.fields.asides.length>0">
                        <cms-aside v-for="aside in section.fields.asides" :aside="aside" :key="aside.sys.id"></cms-aside>
                    </div>
                </div>
                <div v-if="section.fields.displayStyle=='Card View'">
                    <a name="card-details"></a>
                    <h3 :id="'cv_title_'+section.sys.id"></h3>
                    <div :id="'cv_'+section.sys.id"></div>
                </div>
            </div>
        </script>
        <!-- Section Template End-->


        <!-- STACKED Article Template Begin -->
        <script id="tpl_article_stacked">
            <div class="ib ">
                <h3>{{ article.fields.userFacingTitle }}</h3>
                <div v-bind:key="article.sys.id">
                    <div v-html="converter.makeHtml(article.fields.content)"></div>
                </div>
            </div>
        </script>
        <!-- STACKED Article Template End-->


        <!-- CARDS Article Template Begin -->
        <script id="tpl_article_cards">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" v-if="article.fields.thumbnail != null" width="100px" height="100px" :src="'https://' + article.fields.thumbnail.fields.file.url" />
                    <div class="card-body">
                        <h3 class="card-title">{{ article.fields.userFacingTitle }}</h3>
                        <p class="card-text">{{article.fields.summary}}</p>
                        <a class="btn btn-primary" href="#" v-on:click="setTarget()">Read more...</a>
                    </div>
                </div>
            </div>
        </script>
        <!-- CARDS Article Template End-->
        <!--
            <td><img width="100px" height="100px" :src="'https://' + article.fields.thumbnail.fields.file.url"/></td>
        -->


        <!-- ACCORDION Article Template Begin -->
        <script id="tpl_article_accordion">
            <div class="card" :index="this.index">
                <div class="card-header" :id="'heading_'+article.sys.id">
                    <h5 class="mb-0">
                        <button :class="{btn:true,'btn-link':true,collapsed:!is_active()}" type="button" data-toggle="collapse" :data-target="'#collapse_'+article.sys.id" :aria-expanded="is_active()?'true':'false'" :aria-controls="'collapse_'+article.sys.id">
                            {{ article.fields.userFacingTitle }}
                        </button>
                    </h5>
                </div>
                <div :id="'collapse_'+article.sys.id" :class="{collapse:!is_active(), show:is_active()}" :aria-labelledby="'heading_'+article.sys.id" data-parent="#article_container">
                    <div class="card-body" v-html="converter.makeHtml(article.fields.content)">
                    </div>
                </div>
            </div>
        </script>
        <!-- ACCORDION Article Template End-->


        <!-- Aside Template Begin -->
        <script id="tpl_aside">
            <div class="ib w30">
                <h3>{{ aside.fields.userFacingTitle }} </h3>
                <div v-bind:key="aside.sys.id">
                    <div v-html="converter.makeHtml(aside.fields.content)"></div>
                </div>
            </div>
        </script>
        <!-- Aside Template End-->






        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        
        <script>
        const client = contentful.createClient({
            space: "[[space]]",
            environment: "master",
            accessToken: "[[token]]",
            host: "preview.contentful.com"
        });


        Vue.component('cms-page', {
            props: ['page'],
            template: '#tpl_page',
            data: function() {
                return { sections: this.page.fields.sections } 
            },
            methods: {
                
            }
        });


        Vue.component('cms-section', {
            props: ['section'],
            template: '#tpl_section',
            data: function() {
                return { converter: new showdown.Converter(), activeTab: 0 }
            },
            computed: {
                stacked: function() {
                    return this.displayStyle == "Stacked Articles";
                },
                cards: function() {
                    return this.displayStyle == "Card View";
                },
                accordion: function() {
                    return this.displayStyle == "Accordion";
                }
            },
            methods: {
                rowPerItem: function() {
                    //
                }
            }
        });


        Vue.component('cms-article-accordion', {
            props: ['article', 'index', 'displayStyle', 'activeTab'],
            template: '#tpl_article_accordion',
            data: function() {
                return { converter: new showdown.Converter()} 
            },
            computed: {
            },
            methods: {
                displayClass: function() {
                    console.log('displayClass. this.index: ' + this.index + ', this.activeTab: ' + this.activeTab);
                    return (this.index == this.activeTab) ? 'block' : 'none';
                },
                first: function() {
                    return (this.index == 0);
                },
                is_active: function() {
                    return (this.index == this.activeTab) ? true : false;
                }
            }
        });


        Vue.component('cms-article-cards', {
            props: ['article', 'index', 'activeTab', 'el', 'elt'],
            template: '#tpl_article_cards',
            data: function() {
                return { converter: new showdown.Converter()} 
            },
            computed: {
            },
            methods: {
                displayClass: function() {
                    console.log('displayClass. this.index: ' + this.index + ', this.activeTab: ' + this.activeTab);
                    return (this.index == this.activeTab) ? 'block' : 'none';
                },
                first: function() {
                    return (this.index == 0);
                },
                setTarget: function() {
                    $(this.elt).html(this.converter.makeHtml(this.article.fields.userFacingTitle));
                    $(this.el).html(this.converter.makeHtml(this.article.fields.content));
                }
            }
        });


        Vue.component('cms-article-stacked', {
            props: ['article', 'index'],
            template: '#tpl_article_stacked',
            data: function() {
                return { converter: new showdown.Converter() } 
            },
            computed: {
            },
            methods: {
                // displayClass: function() {
                //     console.log('displayClass. this.index: ' + this.index + ', this.activeTab: ' + this.activeTab);
                //     return (this.index == this.activeTab) ? 'block' : 'none';
                // },
                // first: function() {
                //     return (this.index == 0);
                // }
            }
        });





        Vue.component('cms-aside', {
            props: ['aside'],
            template: '#tpl_aside',
            data: function() {
                return { converter: new showdown.Converter() }
            },
            methods: {
            }
        });







        /*
            !!!SET THE TEST DATA TARGET SLUG HERE!!!
        */
        var urlParams = new URLSearchParams(window.location.search);
        var contentId = '1';
        var slug = "university-writing";

        if(urlParams.has('id')) { contentId = urlParams.get('id'); }
        if(urlParams.has('slug')) { slug = urlParams.get('slug'); }

        var query = {
            "content_type": "pageTemplate",
            // "fields.slug": "lorem-ipsum-" + contentId,
            "fields.slug": slug,
            "include": 10
        };

        var app = null;
        var render_tpl = function(tpl_data) {
             app = new Vue({el: '#app', 
                            data: { page: tpl_data }
                            });
        };

        // var page_template = null;
        client.getEntries(query)
            .then((response) => {
                console.log(response.items);

                // work sections into an array instead of mucking with solo vs array in tpl
                var sections = response.items[0].fields.sections;
                if (!Array.isArray(sections)) {
                    response.items[0].fields.sections = [sections]
                }
                render_tpl(response.items[0]);
            })
            .catch(console.error);
        </script>
    </body>
</html>